.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  line-height: 50px;
  background-color: $dark;
}

.header-link {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, sans-serif;
}

.header-link:hover {
  opacity: 0.5;
  transition: 0.5s;
}
