.meals__currentdata {
  @extend %title;
}
.meals__popup {
  @extend %popUp;
  .meals__popup--input {
    margin: 10px;
    font-family: inherit;
    width: 90%;
    border: 0;
    border-bottom: 2px solid $dark;
    outline: 0;
    font-size: 20px;
    color: $dark;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: $dark;
      font-weight: 600;
    }
  }

  .meals__popup--title {
    @extend %title;
  }

  .meals__popup--add,
  .meals__popup--close {
    @extend %btn;
  }
}

.meals__window {
  @extend %popUp;
}

.meals__select {
  background-color: $white;
  width: 50%;
  border: thin solid $dark;
  border-radius: 4px;
  display: inline-block;
  line-height: 40px;
  padding: 10px;
  margin: 10px;
}
.meals__search {
  background-color: $white;
  width: 50%;
  border: thin solid $dark;
  border-radius: 4px;
  display: inline-block;
  line-height: 20px;
  padding: 10px;
  margin: 10px;
  background-image: url("../../../public/functional-icon/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px;
  background-size: 16px 16px;
}

.meals__window--title {
  @extend %title;
}
.meals__window--choose {
  @extend %title;
  font-size: 20px;
}
.meals__window--close {
  @extend %btn;
}
.meals__window--add {
  @extend %btn;
}
.meals__add--dish {
  @extend %btn;
}
.meals {
  .meals__add--more {
    @extend %btn;
  }
  .meal {
    font-family: $font;
    font-size: 50px;
    background-color: $dark;
    padding: 15px;
    width: 320px;
    height: 150px;
    border-radius: 30px 10px 10px 10px;
    color: $white;
  }
  .meal:nth-child(1) {
    font-family: $font;
    font-size: 50px;
    background-color: $dark;
    padding: 15px;
    width: 320px;
    height: 150px;
    border-radius: 30px 10px 10px 10px;
    color: $white;
  }
  .meal:nth-child(2) {
    font-family: $font;
    font-size: 50px;
    background-color: $ligth-dark;
    padding: 15px;
    width: 320px;
    height: 150px;
    border-radius: 30px 10px 10px 10px;
    color: $white;
  }
  .meal:nth-child(3) {
    font-family: $font;
    font-size: 50px;
    background-color: $ligth;
    padding: 15px;
    width: 320px;
    height: 150px;
    border-radius: 30px 10px 10px 10px;
    color: $white;
  }
  .meal:nth-child(4) {
    font-family: $font;
    font-size: 50px;
    background-color: $ligth-new;
    padding: 15px;
    width: 320px;
    height: 150px;
    border-radius: 30px 10px 10px 10px;
    color: $ligth-dark;
  }
}
.dish {
  @extend %title;
}
