$ligth-color: #f2e3db;
$ligth-color: #f2e3db;
$header-bg-color: #263a29;
$card-bg-color: #41644a;
$main-bg-color: #7c9070;
$sparkl-bg-color: #377d71;
$pink-bg-color: #fbc5c5;
$peachy-bg-color: #fba1a1;
$purple-bg-color: #8879b0;
$cherry-bg-color: #e90064;
$green-bg-color: #1c6758;
